
.Header{
    background-color: rgb(71, 144, 212);
             

}
nav ul li{
    background:rgb(71, 144, 212);
    position: relative;
    list-style: none;
    display: inline-block;
}
nav{
    display: block;
    padding: 0 15px;
    color:rgb(225, 235, 90);
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
nav ul li a:hover{
    background: rgb(0, 0, 0);
}
nav ul ul{
    position: absolute;
    top:60px;
    display:none;
}
nav ul li:hover>ul{
    display:block;

}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    background-color: rgb(250, 244, 244);
    position: relative;
    color: rgb(63, 60, 60);
}
nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;

}